
@model IEnumerable<E_Commerce_Service.Models.ServicosGeraisViewModel>
@Styles.Render("~/Content/Font-Awesome/css")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br />
<div id="gridResultado">
    <table id="tabResultado" class="table table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.NmServico)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.DsCategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.PrecoServico)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.DistanciaServico)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.NotaServico)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.RatingServico)
                </th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr value="" id="@item.Id">
                    
                    <td>
                        <p hidden="hidden">sdcsc</p>
                            @Html.DisplayFor(m => item.NmServico)
                    </td>
                    <td>
                        <strong> @Html.DisplayFor(m => item.DsCategoria) </strong>
                    </td>
                    <td>
                        <strong>R$ </strong> @Html.DisplayFor(m => item.PrecoServico)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.DistanciaServico) <strong> Km</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.NotaServico)
                    </td>
                    <td>
                        @{
                            decimal rating = item.RatingServico * 100 / 5;
                            rating.ToString("0.00");
                            <div>
                                <div class="progress" title="@item.RatingServico.ToString("0.00").Replace(",",".")">
                                    <div class="progress-bar-mod progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="5" style="width:@rating.ToString("0.00").Replace(",",".")%">
                                        <strong> @Html.DisplayFor(m => item.RatingServico) </strong>
                                    </div>
                                </div>
                            </div>

                        }

                    </td>
                    
                </tr>
             }
        </tbody>
    </table>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/DataTable")

<script>

    $(document).ready(function () {

        $('#tabResultado tbody tr').click(function () {
            var idServico = $(this).attr('id');
            var url = "/Servicos/ContrataServico?idServico=" + idServico;

            $(location).attr("href", url);
        
        });

    });

</script>