@using E_Commerce_Service.Models
@model ContrataServicoViewModels
@{
    ViewBag.Title = "Contratar";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<h1>Contratar</h1>

<input id="idServicoHd" hidden="hidden" value="@Model.IdServico"/>

<div class="container">
    <div class="col-md-6">
        <h2>Detalhes do serviço</h2>
        <div class="jumbotron">
            <p>
                @Html.Label("Nome do serviço: ", new { @class = "col-md-6 control-label", @style= "font-size:18px;" })
                @Model.NmServico
            </p>
            <p>
                @Html.Label("Valor: ", new { @class = "col-md-6 control-label", @style = "font-size:18px;" })
                R$ @Model.VlServico
            </p>
            <p>
                @Html.Label("Distância: ", new { @class = "col-md-6 control-label", @style = "font-size:18px;" })
                @Model.Distancia Km
            </p>
            <p>
                @Html.Label("Categoria: ", new { @class = "col-md-6 control-label", @style = "font-size:18px;" })
                @Model.TipoServico.DsCategoria
            </p>
            <p>

                @Html.Label("Avaliação: ", new { @class = "col-md-6 control-label", @style = "font-size:18px;" })
                @Model.NotaServico <i class="material-icons">star_rate</i>
            </p>

        </div>

    </div>

    <div class="col-md-6">
        <h2>Dados do vendedor</h2>
        <div class="jumbotron">
            <p>
                @Html.Label("Nome: ", new { @class = "col-md-6 control-label", @style = "font-size:18px;" })
                @Model.Usuario.NmUsuario
            </p>
            <p>
                @Html.Label("Email: ", new { @class = "col-md-6 control-label", @style = "font-size:18px;" })
                @Model.Usuario.EmailUsuario
           </p>

        </div>
    </div>
</div>

    @if (Request.Cookies["userLogado"] != null)
    {
        if (Server.HtmlEncode(Request.Cookies["userLogado"].Value.ToString()) == "-1")
        {
            <div class="container">
                <div class="col-md-3"></div>
                <div class="col-md-5">
                    <div class="alert alert-warning">
                        <strong>Alerta!</strong> É necessário realizar o login para proceguir
                        <button type="button" class="btn btn-warning" style="text-align:right;" data-toggle="modal" data-target="#myModal">Login</button>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Login</h4>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("LoginModel", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="form-group">
                                    @Html.Label("Email", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <input type="email" id="Email" name="Email" class="input-group-lg"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Senha", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <input type="password" id="pass" name="Senha" class="input-group-lg"/>
                                    </div>
                                </div>
                                <p>
                                    @Html.ActionLink("Ainda não tenho cadastro", "Register", "Account")
                                </p>
                                <div class="modal-footer">
                                    <button id="btnLogin" type="submit" class="btn btn-default" data-dismiss="modal">login</button>
                                </div>
                            }
                        </div>
                        
                    </div>

                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="alert alert-success">
                        <strong>Está quase lá!</strong> Finalizar compra
                        <button id="btnFinalizar" type="button" class="btn btn-success text-right" data-toggle="modal" data-target="#myModalFin">Finalizar</button>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div id="myModalFin" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Compra finalizada</h4>
                        </div>
                        <div class="modal-body">
                            
                            <div>
                                <h3>Sua compra foi finalizada!</h3>
                                <p>Você receberá os detalhes da compra e meios de pagamento por e-mail.</p>
                                <p>Agora é só agruardar que entraremos em contato! ;)</p>
                            </div>
                                
                                <div class="modal-footer">
                                    <button id="btnCloseModal" type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            
                        </div>

                    </div>

                </div>
            </div>
        }
    }
    else
    {
        <div class="container">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <div class="alert alert-warning">
                    <strong>Alerta!</strong> É necessário realizar o login para proceguir
                    <button type="button" class="btn btn-warning" style="text-align:right;" data-toggle="modal" data-target="#myModal">Login</button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>


            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Login</h4>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("LoginModel", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="form-group">
                                    @Html.Label("Login", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <input type="email" id="Email" name="Email" class="input-group-lg" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Senha", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <input type="password" id="pass" name="Senha" class="input-group-lg" />
                                    </div>
                                </div>
                                <p>
                                    @Html.ActionLink("Ainda não tenho cadastro", "Register", "Account")
                                </p>
                                <div class="modal-footer">
                                    <button id="btnLogin" type="submit" class="btn btn-default" data-dismiss="modal">login</button>
                                </div>
                            }
                        </div>

                    </div>

                </div>
            </div><div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <div class="alert alert-warning">
            <strong>Alerta!</strong> É necessário realizar o login para proceguir
            <button type="button" class="btn btn-warning" style="text-align:right;" data-toggle="modal" data-target="#myModal">Login</button>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>


            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Login</h4>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("LoginModel", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="form-group">
                                    @Html.Label("Login", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <input type="email" id="Email" name="Email" class="input-group-lg" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Senha", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <input type="password" id="pass" name="Senha" class="input-group-lg" />
                                    </div>
                                </div>
                                <p>
                                    @Html.ActionLink("Ainda não tenho cadastro", "Register", "Account")
                                </p>
                                <div class="modal-footer">
                                    <button id="btnLogin" type="submit" class="btn btn-default" data-dismiss="modal">login</button>
                                </div>
                            }
                        </div>

                    </div>

                </div>
            </div>
    }

@Scripts.Render("~/bundles/jquery")

<script>

    $(document).ready(function () {
        Init();
    });

    function Init() {
        $('#btnLogin').click(loginAjax);

        

        $('#btnFinalizar').click(Finaliza);
        $('#btnCloseModal').click(loadIndex);
    }

    function loginAjax() {
        var email = $('#Email').val();
        var pass = $('#pass').val();

        $.ajax({
            url: '/Account/LoginModel',
            type: 'post',
            data: {Email: email, Senha: pass},
            success: function (retorno) {

                if (retorno == "OK") {
                    window.location.reload();
                } else if (retorno == "S") {
                    alert("Senha incorreta.");
                } else {
                    alert("Usuário não encontrado.");
                }
                
            },
            error: function (retorno) {
                alert("Ocorreu erro durante o processo de solicitação.");
            }
        });

    }

    function loadIndex() {
        var URL = "/Home/Index";
        $(window.document.location).attr('href', URL);
    }

    function Finaliza() {
        var idServico = $('#idServicoHd').val();

        $.ajax({
            url: '/Servicos/ContaCompra',
            type: 'post',
            data: { idServico: idServico },
            success: function (retorno) {

            },
            error: function (retorno) {
                
            }
        });
    }

</script>



