@model IEnumerable<E_Commerce_Service.Models.ServicosGeraisViewModel>
@{
    ViewBag.Title = "Serviços";
}

<h2>Serviços</h2>

<hr />
<div>
    @using (Ajax.BeginForm("Index", "Servicos", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "gridResultado" }))
    {

        <div class="form-group paddingFind">
            @Html.Label("Categoria", new { @class = "col-md-2 control-label paddingFind" })
            <div class="col-md-10 paddingFind">
                @Html.DropDownList("Categorias", ViewBag.Categorias as SelectList, new { @class = "form-control paddingFind" })
                
            </div>
        </div>
        
        <div class="form-group paddingFind">
            @Html.Label("Relevância", new { @class = "col-md-2 control-label paddingFind" })
            <div class="col-md-10 paddingFind">
                <label class="checkbox-inline">
                    @Html.CheckBox("ckPreco", false, new { @class = "" })
                    Preço
                </label>
                <label class="checkbox-inline">
                    @Html.CheckBox("ckDistancia", false, new { @class = "" })
                    Distância
                </label>
                <label class="checkbox-inline">
                    @Html.CheckBox("ckAvaliacao", false, new { @class = "" })
                    Avaliação
                </label>
            </div>
        </div>

        <div class="form-group paddingFind">
            <div class="col-md-offset-2 col-md-10 paddingFind">
                <input title="Pesquisar" type="submit" class="btn btn-outline-success" value="Pesquisar" />
            </div>
        </div>
    }
</div>

<p><br /><hr /></p>


@Html.Partial("_PartionGridServicosGerais", Model)